<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Rapid 2 Code</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div>
        <h2>Rapid 2 Code -- when you have the need for</h2>
          <table style="width:100%" cellpadding="2" border="1" >
            <tr>
              <td style="width:33%">
              <div id="foto" style="text-align: center;">
                <img src="./images/productivity.gif" width="240" height="40" alt="foto1">
               </div>
               <p></p>
                  <p style="text-align:center"><b>Productivity</b></p>
                 <p>Increase the speed of development</p>
              </td>
              <td style="width:33%">
               <div id="foto" style="text-align: center;">
                <img src="./images/abc.gif" width="240" height="40" alt="foto1">
               </div>
                 <p style="text-align:center"><b>Simplify</b></p>
                 <p>Makes software easier to use</p>
              </td>
               <td style="width:34%">
               <div id="foto" style="text-align: center;">
                <img src="./images/accuracy.gif" width="240" height="40" alt="foto1">
               </div>
               <p></p>
                 <p style="text-align:center"><b>Accuracy</b></p>
                 <p>Less bugs, more productivity</p>
              </td>
            </tr>
            </table>
            <table style="width:100%" cellpadding="2" border="1" >
            <tr>
              <td style="width:50%">
               <div id="foto" style="text-align: center;">
                <img src="./images/target.gif" width="240" height="40" alt="foto1">
               </div>
               <p></p>
                  <p style="text-align:center"><b>Transform</b></p>
                 <p>Modernize you applications</p>
              </td>
              <td style="width:50%">
               <div id="foto" style="text-align: center;">
                <img src="./images/light.gif" width="180" height="40" alt="foto1">
               </div>
               <p></p>
                 <p style="text-align:center"><b>Knowledge</b></p>
                 <p>Preserve software Knowledge.  Load you software into re-usable modules</p>
              </td>
            </tr>
          </table>
    </div>
    <p></p>
          <table style="width:100%" cellpadding="2" border="0" >
            <tr>
              <td style="width:33%">
              <p style="text-align:center">
                <a href="#" th:href="@{/wizardAdd}"><button type="button">Why Rapid to Code</button></a>
                </p>
              </td>
              <td style="width:33%">
              <p style="text-align:center">
                <a href="#" th:href="@{/wizardClear}"><button type="button">Quick Start</button></a>
                </p>
              </td>
              <td style="width:33%">
              <p style="text-align:center">
                <a href="#" th:href="@{/home}"><button type="button">News</button></a>
                </p>
              </td>
            </tr>
            </table>
          <h2>Things to do with Rapid 2 Code</h2>
          <table style="width:100%" cellpadding="2" border="1" >
            <tr>
              <td style="width:33%">
               <div id="foto" style="text-align: center;">
                <img src="./images/micro.gif" width="240" height="140" alt="foto1">
               </div>
                  <p style="text-align:center"><b>Microservices</b></p>
                 <p>Build or transform you code into easy to use for quicker deliver Services that production grade with easy to maintain microservices modules</p>
              </td>
              <td style="width:33%">
               <div id="foto" style="text-align: center;">
                <img src="./images/train.gif" width="240" height="140" alt="foto1">
               </div>
                 <p style="text-align:center"><b>Rapid Application Development</b></p>
                 <p>From out dated software to a reactive system.</p>
              </td>
               <td style="width:33%">
               <div id="foto" style="text-align: center;">
                <img src="./images/factory.gif" width="240" height="140" alt="foto1">
               </div>
                 <p style="text-align:center"><b>Software Automation</b></p>
                 <p>Using Artificial Intelligence to reduce the amount of code that needs to be written.</p>
              </td>
            </tr>
          </table>
          <p></p>
          <table style="width:100%;background-color:aqua">
            <tr>
              <td>
                 <b>Consulting</b>
                 <p>Let us help you get started</p>
              </td>
              <td>
                 <b>Support</b>
                 <p>Rapid 2 Code offers support</p>
              </td>
               <td>
                 <b>Supplement</b>
                 <p>Let us help you deliver for your clients</p>
              </td>
            </tr>
          </table>
</div>
<div class="container"><hr></hr></div>
<div th:insert="fragments/footer :: footer">&copy; 2021 Rapid 2 Code, Datathunder inc or its affiliates - terms of use - Trademark Guidelines</div>
<div class="container">terms of use - Trademark Guidelines</div>
<div class="container">Spring,Apache, Apache Tomcat, Apache Kafka, Apache Cassandra, and 
                 Apache Geode are trademarks or registered trademarks of the Apache Software Foundation in the United States and/or other countries. 
                 Java, Java SE, Java EE, and OpenJDK are trademarks of Oracle and/or its affiliates. Kubernetes is a registered trademark of the 
                 Linux Foundation in the United States and other countries. Linux is the registered trademark of Linus Torvalds in the United States 
                 and other countries. Windows and Microsoft Azure are registered trademarks of Microsoft Corporation. 
                 AWS and Amazon Web Services are trademarks or registered trademarks of Amazon.com Inc. or its affiliates. 
                 All other trademarks and copyrights are property of their respective owners and are only mentioned for informative purposes.
                  Other names may be trademarks of their respective owners</div>
</body>
</html>